<section class="pt-16 px-12">
  <% if (siswas.length===0) { %>
  <tr>
    <td colspan="4">
      <div class="alert alert-danger fw-bold" role="alert">
        Data Contacts Masih Kosong
      </div>
    </td>
  </tr>
  <% } %>

  <div class="flex justify-center mt-12">
    <div class="mb-3 xl:w-96">
      <div class="input-group relative flex items-stretch w-full mb-4">
        <input
          type="text"
          id="searchInput"
          onkeyup="myFunction()"
          class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border-2 border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-yellow-600 focus:outline-none"
          placeholder="Search"
          aria-label="Search"
          aria-describedby="button-addon2"
        />
        <button
          class="btn px-6 py-2.5 bg-yellow-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-700 hover:shadow-lg focus:bg-yellow-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-800 active:shadow-lg transition duration-150 ease-in-out flex items-center mr-5"
          type="button"
          id="button-addon2"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="search"
            class="w-4"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              fill="currentColor"
              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
            ></path>
          </svg>
        </button>
        <a
          href="/users/Siswas/tambahSiswa"
          class="btn p-3 bg-yellow-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-700 hover:shadow-lg focus:bg-yellow-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-yellow-800 active:shadow-lg transition duration-150 ease-in-out flex items-center text-center"
          type="button"
          id="button-addon2"
          >Tambah Siswa</a
        >
      </div>
    </div>
  </div>

  <div
    class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-4"
    id="siswaContainer"
  >
    <% siswas.forEach((siswa,i)=> { %>
    <div class="bg-white space-y-3 p-4 rounded-lg shadow item">
      <div class="flex items-center space-x-2 text-sm flex-wrap">
        <div>
          <div class="text-yellow-500 font-semibold"><%= ++i %></div>
        </div>
        <span
          class="p-1.5 text-xs font-semibold uppercase tracking-wider bg-slate-200 rounded-t-md bg-opacity-50"
        >
          <%= siswa.kelas %> <%= siswa.jurusan %>
        </span>
        <span
          class="p-1.5 text-xs font-semibold tracking-wider bg-yellow-400 rounded-t-md bg-opacity-50"
        >
          nisn:<%= siswa.nisn %>
        </span>
        <div>
          <a
            href="/users/Siswas/<%= siswa._id %>"
            class="font-bold hover:underline"
            >Detail</a
          >
        </div>
      </div>

      <div class="font-medium text-black">nis : <%= siswa.nis %></div>
      <div class="text-md text-gray-900"><%= siswa.nama %></div>

      <div class="text-sm font-medium text-black">Poin:<%= siswa.poin %></div>
    </div>
    <% }) %>
  </div>
</section>
